.root {
  height: 50px;
  width: 300px;

  background-color: rgb(219, 206, 234);
}
.menuHome {
  background-color: rgb(231, 226, 237);
  width: 300px;
}
.menu {
  background-color: rgb(231, 226, 237);
  width: 300px;
}
.menu1 {
  background-color: rgb(231, 226, 237);
  width: 410px;
}

.settings1 {
  padding-left: 300px;
  padding-top: 50px;
  .div {
    background-color: antiquewhite;
    text-decoration: underline;
    position: relative;
    left: -10px;
    top: -80px;
  }
  container {
    display: flex;
    flex-direction: row;
    .pagesize {
      display: flex;
      flex-direction: row;
    }

    .changedatabase {
      display: flex;
      flex-direction: row;
    }
  }
  .table {
    margin-top: 85px;
  }
}

.labelq {
  position: absolute;
  top: 160px;
  left: 480px;
  width: 300px;
}
